*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

#navbr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 72px;
    margin: auto;

}

.navbr-col{
    display: flex;
    align-items: center;
}

.brnd img{
    height: 1.7rem;
    display: block;
    cursor: pointer;
    margin-right: 10px;
}

.locationn{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0 0px 3px -1px gray
}

.locationn img{
    width: 26px;
    margin-right: 3px;
}

.locationn p{
    font-size: 14px;
    color: grey;
    margin-right: 5px;
}

.locationn p span{
    color: black;
}

.locationn .fa-caret-down{
    font-weight: bold;
    margin-right: 12px;
    font-size: 16px;
    color: grey;
}

.locationn .srch{
    width: 30px;
}

.locationn input{
    border: none;
    padding: 10px 5px;
    font-size: 14px;
    word-spacing: 1px;
    width: 300px;
    margin-right: 100px;
}

.locationn input:focus{
    outline: none;
}

.log-btn a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(105, 105, 105);
}

.log-1{
    margin-right: 25px;
}

.log-btn a:hover{
    color: black;
}

/* options */

#opt{
    display: flex;
    width: 1100px;
    margin: 0px auto;

}

.coll{
    display: flex;
    padding: 20px 20px;
    align-items: center;
}

.coll .imgg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.imgg img{
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.coll-1 .imgg{
    background-color: rgb(252, 238, 192);
}

.coll p{
    font-size: 20px;
    margin-left: 10px;
    color: rgb(105, 105, 105);
    font-weight: 500;
}

.coll-1 p{
    color: rgb(239, 79, 95);
    
}

.coll-1{
    border-bottom: 3px solid rgb(255, 126, 139);
}

#filtr{
    display: flex;
    width: 1100px;
    margin: 20px auto;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 30px 0;
    z-index: 2;

}

#filtr a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(105, 105, 105);
    background-color: transparent;
    padding: 10px 12px;
    border-radius: 10px;
    box-shadow: 0 0px 3px -1px gray;
    font-size: 13px;
    letter-spacing: 1px;
    margin-right: 20px;
}

#filtr a i{
    margin-left: 5px;
}

#brands{
    width: 1100px;
    margin: 20px auto 20px auto;
}

.head{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px 0;
    display: flex;
    scrollbar-width: none;
  }



div.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 5px;
}

  div.scroll-container img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
    margin-bottom: 10px;

  }
  




  .items p{
    font-size: 18px;
    font-weight: 600;
    color:  rgb(54, 54, 54);
  }

.top-brands .items p{
    font-size: 16px;
    color: black;
    margin-top: 10px;
}

.top-brands .items .time{
    font-size: 13px;
    font-weight: 400;
}

/* Dilivery */

#delivery{
    width: 1100px;
    margin: 10px auto;
}

.grid-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 45px;
}

.grid-item .top{
    width: 328px;
    height: 248px;
    z-index: 1;
    background-color: transparent;
    position: relative;
    bottom: 358px;
    border-radius: 20px;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top .pro{
    margin: 23px 0 0 10px;
    width: 50px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.4rem);
    font-size: 10px;
    color: rgb(105, 105, 105);
    padding: 2px;
    text-align: center;
    border-radius: 5px;
}

.top div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .top-off{
    background-color: rgb(37, 111, 239);
    margin-bottom: 12px;
    color: white;
    letter-spacing: 1px;
    padding: 2px 5px;
    font-size: 13px;
}

.top .top-time{
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 12px;
    margin-right: 10px;
    padding: 1px 3px;
    border-radius: 5px;
    font-size: 12px;
}

.grid-item{
    /* border: 1px solid black; */
    height: 370px;
    padding: 10px;
    width: 330px;
    border-radius: 20px;
    
}

.grid-item:hover{
    box-shadow: 0px 0px 5px -1px grey;
}

.grid-item .img{
    width: 328px;
    height: 248px;
    border-radius: 20px;
}

.grid-item .img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.rating{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

}

.rating .name{
    font-size: 18px;
    letter-spacing: 1px;
}

.rate{
    background-color: green;
    border-radius: 6px;
    padding: 1px 3px;
    color: white;
    font-size: 14px;
}

.desc, .safety{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}



.safety{
    margin-top: 20px;
    font-size: 10px;
    font-weight: 500;
    color:rgb(105, 105, 105);
}

.safety img{
    width: 60px;
    margin-right: 10px;
    
}

.safety p{
    padding: 0 10px 0 0;
}

.footer{
    width: 1100px;
    margin: 10px auto;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top a img{
    width: 120px;

}

.footer-btn{
    display: flex;
}

.footer-btn a{
    padding: 5px 10px;
    box-shadow: 0 0px 4px -1px gray;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-btn a img{
    width: 20px;
    margin-right: 10px;
    
}

.fa-globe{
    margin-right: 10px;
}

.quicklinks{
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
}

.quicklinks .col{
    display: flex;
    flex-direction: column;
    
}

.col a{
    text-decoration: none;
    color: rgb(105, 105, 105);
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.col .q-head{
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}
.social{
    display: flex;
    margin-bottom: 20px;
}

.social i{
    width: 20px;
    height: 20px;
    padding: 3px;
    background-color: black;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 8px;   
    border-radius: 50%;
    cursor: pointer;
}

hr{
    color: gray;
    margin-top: 40px;
}

.last{
    padding: 10px 0;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(105, 105, 105);
    margin-top: 10px;
}

.go-top{
    background-color: rgb(239, 79, 95);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 3450px;
    right: 50px;
}

.go-top a{
    color: white;
}

.opt-out{
    margin: 15px 0;
    box-shadow: 0 0px 4px -2px gray;

}
.footer-images{
    cursor: pointer;
}

#explore{
    width: 1100px;
    margin: 30px auto;
}

#explore .head{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

#explore .ques{
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0px 3px -1px gray;
    font-size:18px;
    letter-spacing: 1px;
    cursor: pointer;
}

.ques span{
    float: right;
    align-self: center;

}